<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./images/logo/icon.ico" />
    <title>향수가 일상이 되는 셀렉트샵, 퍼퓸그라피.</title>
    <!-- swiper CSS -->
    <link rel="stylesheet" href="./css/swiper-bundle.min.css" />
    <!-- 외부 CSS -->
    <link rel="stylesheet" href="./css/main.css" />
    <!-- 제이쿼리 -->
    <script src="./js/jquery-3.6.3.min.js"></script>
    <script src="./js/jquery-ui.min.js"></script>
    <!-- 뷰JS 프레임워크 스텐드얼론 버전 가져오기 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <!-- 엑시오스 라이브러리 스텐드얼론 버전 가져오기(제이슨불러오기) -->
    <script src="https://cdn.jsdelivr.net/npm/axios@0.17.1/dist/axios.min.js"></script>
    <!-- swiper js -->
    <script src="./js/swiper-bundle.min.js"></script>
    <!-- 부드러운 스크롤 -->
    <script src="./js/smoothScroll20.js"></script>
    <!-- 메인 JS -->
    <script src="./js/main.js" type="module"></script>
  </head>
  <body>
    <!-- 상단 -->
    <div id="top">
      <header class="top">
        <!-- gnb -->
        <div class="top_wrap">
          <nav class="gnb">
            <ul>
              <li>
                <a href="#">SHOP</a>
              </li>
              <li>
                <a href="#">CURATION</a>
              </li>
              <li>
                <a href="#">SCENT'S</a>
              </li>
              <li>
                <a href="#">OUR STORY</a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- 로고 -->
        <div class="top_wrap">
          <h1 class="logo">
            <a href="#">
              <img src="./images/logo/logo.svg" alt="로고" />
            </a>
          </h1>
        </div>
        <!-- 사이드메뉴 -->
        <div class="top_wrap">
          <ul class="icon_menu">
            <li>
              <a href="#">
                <span class="fa-regular fa-user"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa-regular fa-heart"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa-solid fa-bag-shopping"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa-solid fa-magnifying-glass"></span>
              </a>
            </li>
          </ul>
        </div>
      </header>
      <div class="side_menu">
        <div class="overlay"></div>
        <!-- 사이드바 메뉴 -->
        <aside class="sidebar_menu">
          <ul class="sub_menu">
            <li><a href="#">BEST</a></li>
            <li><a href="#">NEW</a></li>
            <li>
              <h2>
                <span>WOMEN</span>
                <span class="fa-solid fa-chevron-down"></span>
              </h2>
              <ol class="sidebar_submenu">
                <li><a href="#">All</a></li>
                <li><a href="#" data-num="0">Modern</a></li>
                <li><a href="#" data-num="1">Chic</a></li>
                <li><a href="#" data-num="2">Lovely</a></li>
              </ol>
            </li>
            <li>
              <h2>
                <span>MEN</span>
                <span class="fa-solid fa-chevron-down"></span>
              </h2>
              <ol class="sidebar_submenu">
                <li><a href="#">All</a></li>
                <li><a href="#" data-num="3">Street</a></li>
                <li><a href="#" data-num="4">Formal</a></li>
                <li><a href="#" data-num="5">Elegant</a></li>
              </ol>
            </li>
            <li>
              <h2>
                <span>MAIN NOTE</span>
                <span class="fa-solid fa-chevron-down"></span>
              </h2>
              <ol class="sidebar_submenu">
                <li><a href="#">All</a></li>
                <li><a href="#" data-num="6">Citrus</a></li>
                <li><a href="#" data-num="7">Floral</a></li>
                <li><a href="#" data-num="8">Fruity</a></li>
                <li><a href="#" data-num="9">Woody</a></li>
              </ol>
            </li>
          </ul>
        </aside>
        <!-- 마우스 오버시 나오는 이미지 목록 -->
        <aside class="menu_media">
          <ul class="menu_medialist">
          </ul>
        </aside>
        <!-- 로그인 -->
        <aside class="icon_sidebar">
          <div class="login_box"> 
            <h2>Log In</h2>
            <form action="index.html" method="post" id="login-form">
              <div class="login_inputbx">
                <input type="text" id="username" required placeholder="아이디"/>
              </div>
              <div class="login_inputbx">
                <input type="password" id="pw" required placeholder="비밀번호"/>
              </div>
              <div class="login_addbx">
                <span class="login_saveid">
                  <input type="checkbox" id="chkbx" name="chkbx">
                  <label for="chkbx" class="fa-regular fa-circle-check"></label>
                  <label for="chkbx">아이디저장</label>
                </span>   
                <span class="login_findid">
                  <a href="#">ID/PW 찾기</a>
                </span>             
              </div>
              <input class="login_btn" type="submit" value="로그인" />
              <ul class="login_sns">
                <li>
                  <a href="#">
                    <img src="./images/icon/icon_sns_kakaotalk.svg" alt="카카오톡로그인">
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="./images/icon/icon_sns_naver.png" alt="네이버로그인">
                  </a>
                </li>
              </ul>
              <a href="#"class="login_btn sign_up">회원가입</a>
              <a href="#"class="find_order">비회원 주문조회</a>
            </form>
          </div>
        </aside>
      </div>
    </div>
    <!-- 메인 -->
    <div id="cont">
      <main class="cont">
        <!-- 배너영역 -->
        <div class="main_banner">
          <div class="swiper mySwiper">
            <div class="swiper-wrapper main_bannerwrap"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
        <!-- Best -->
        <section class="main_best">
          <h2 class="main_tit">BEST</h2>
          <div class="main_best_cont">
          </div>
        </section>
        <!-- New Arrival -->
        <section class="main_new">
          <h2 class="main_tit">NEW ARRIVAL</h2>
          <div class="main_new_cont swiper newSwiper">
            <ul class="main_newlist swiper-wrapper">
              <li class="swiper-slide" v-for="(v,i) in newitems.data">
                <a href="#">
                  <div class="new_imgbx">
                    <figure v-html="makeImg(i)"></figure>
                  </div>
                  <div class="new_txtbx">
                    <h4>Jo Loves</h4>
                    <h3>{{v.name}}</h3>
                    <p v-html="v.desc"></p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </section>
        <!-- select -->
        <section class="main_match">
          <h2 class="main_tit">Match Your Fragrance</h2>
          <div class="match_wheel">
            <div class="match_rotate">
              <figure class="mask">
                <img src="./images/main/match/mask_new.png" alt="mask">
              </figure>
              <figure class="img_wheel">
                <img src="./images/main/match/wheel.png" alt="wheelimg">
              </figure>
            </div>
            <div class="match_btnbx">
              <button class="match_btn match_prevbtn">
                <span class="fa-solid fa-chevron-left"></span>
              </button>
              <button class="match_btn match_nextbtn">
                <span class="fa-solid fa-chevron-right"></span>
              </button>
            </div>
          </div>
          <div class="match_perfume">
            <ul class="match_perfumelist">
              <match-comp v-for="n in matchdata" v-bind:matchperfume="n"></match-comp>
            </ul>
          </div>
        </section>
      </main>
    </div>
    <!-- 하단 -->
    <div id="info">
      <footer class="info">
        <div class="blogo">
          <figure>
            <a href="#">
              <img src="./images/logo/info_logo.svg" alt="">
            </a>
          </figure>
        </div>
        <div class="btext">
          <h2>PERFUMEGRAPHY PROCESS</h2>
          <p>
            국가기관에 정식 등록된 공식 수입사, 퍼퓸그라피의 모든 제품은 국문 라벨이 부착된 100% 정품임을 보증합니다.
          </p>
        </div>

        <div class="blink_wrap">
          <div class="blink">
            <ul>
              <li>
                <a href="#">회사소개</a>
              </li>
              <li>
                <a href="#">이용약관</a>
              </li>
              <li>
                <a href="#">개인정보처리방침</a>
              </li>
              <li>
                <a href="#">이용안내</a>
              </li>
            </ul>
          </div>
          <div class="blink_bar"></div>
          <div class="bsns">
            <ul>
              <li>
                <a href="#">
                  <img src="./images/logo/insta.png" alt="인스타그램">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="./images/logo/facebook.png" alt="페이스북">
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="binfo">
          <address>
            <ul>
              <li><span>상호명</span>주식회사 퍼퓸그라피</li>
              <li><span>대표자</span>홍은표</li>
              <li><span>통신판매업신고번호</span>제 2019-서울종로-0106호</li>
              <li><span>고객센터</span>070-7424-1253</li>
              <li><span>주소</span>03086 서울특별시 종로구 대학로 10길 15-15(동숭동) 해안빌딩 2층 퍼퓸그라피</li>
            </ul>
          </address>
          <p>Copyright © 퍼퓸그라피. All rights reserved.</p>
        </div>
      </footer>
    </div>
    <script
      src="https://kit.fontawesome.com/2041668019.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
