@charset "UTF-8";

/* 서브페이지(episode2) CSS - episode2.css */

@import url(./reset.css);
@import url(./common.css);

.cont {
    max-width: 1600px;
}

/* 메인이미지 박스 */
.mimg {
    position: relative;
    width: 1200px;
    height: 515px;
    margin: 0 auto;
}


.mimg figure {
    position: absolute;
}

.mimg figure img {
    width: 100%;
    height: 100%;
}

.mimg_img::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:linear-gradient(270deg, #00000000 0%, #0000000A 16%, #00000021 29%, #00000042 41%, #0000006B 51%, #00000094 61%, #000000BD 70%, #000000DE 79%, #000000F5 89%, #000000FF 100%);
    z-index: 1;
}

.mimg_tit {
    width: 36%;
    bottom: 5%;
    left: 5%;
    text-align: center;
    color : #fff;
    z-index: 2;
}
