@charset "utf-8";

/* 공통 모듈 디자인 CSS */

/* 1. 상단 */

#top {
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0;
    left: 0;
}
.top {
    display: flex;
    padding: 50px 0;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
}
/* 1-1. 상단로고 */
.logo {
    max-width: 190px;
    margin: 0 30px;
}

.logo img {
    width: 100%;
}

/* 1-2. gnb */
.gnb {

}
.menu_top {
    display: flex;
    width: 60vw;
    justify-content: space-around;
}

.menu_top>li>a {
    color: #fff;
    font-size: 1.8rem;
}

/* 1-3. 예약버튼 */
.res {
    position: absolute;
    right: 3%;
    /* width: 10vw;
    height: 3vh; */
    text-align: center;
}

.res a {
    display: block;
    /* width: 100%;
    height: 100%; */
    padding: 10px 20px;
    font-size: 1.6rem;
    color: #fff;
    border: 1px solid #fff;
    box-sizing: border-box;
    transition: .5s;
}

.res:hover a{
    color : #000;
    background-color: #fff;
}