@charset "utf-8";

/* 메인페이지 CSS */

/* 공통 외부 CSS 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);

/* 메인 */
.cont {
    width: 100%;
    /* background-color: rgba(0,0,0,0.5); */
}

/* 페이지 이동 인디케이터 */
.main_nav {
    position: fixed;
    z-index: 99999;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}

.main_nav li {
    width: 7px;
    height: 7px;
    margin-top: 20px;
}

.main_nav a {
    width: 100%;
    height: 100%;
    display: inline-block;
    /* border: 1px solid #eee; */
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
    transition: background-color .5s;
}

.main_nav a:hover {
    background-color: rgba(255,255,255,0.8);
}


/* 메인페이지 */
.main_page {
    position: relative;
    height: 100vh;
    width: 100%;
}

/* 메인페이지 백그라운드 이미지 공통 */
.main_back_img {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(70%);
}


/***** 1번 페이지 *****/

#mvid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter : brightness(70%);
}

/* 예약선택폼 */
.main_res {
    position: absolute;
    color: #fff;
    top: 62%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
}

.main_res_cont {
    display: flex;
    gap: 10px;
}

.main_res_cont span {
    display: inline-block;
    padding: 5px 0 10px;
}

/* 체크인/아웃 박스 */
.main_res_chk {
    position: relative;
}

/* 체크인/아웃 박스에 가상요소로 경계선 그리기 */
.main_res_chk::after {
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: 60px;
    top: 0;
    right: 0;
    background: #dddddd;
}

/* 체크인/아웃 박스 날짜선택 인풋 디자인 */
.main_res_chk input {
    background-color: transparent;
    border: none;
    color : #fff
}

/* 객실/인원 수 선택박스  */
.main_res_cont select {
    background-color: transparent;
    color : #fff;
    border: none;
}

.main_res_cont select option {
    background-color: #fff;
    color : #000;
    border: none;
}


#sbtn {
    margin-left: 10px;
}

/* 서치버튼 디자인 */
#sbtn > input {
    width: min(16vw, 200px);
    height: 60px;
    border: none;
    background-color: #fff;
    color:#000;
    font-size: min(1.6vw, 16px);
    font-family: 'Source Code Pro', monospace;
    transition: color .4s ease-in-out, background-color .4s ease-in-out;
}

/* 서치버튼 마우스 오버시 디자인 변경 */
#sbtn > input:hover {
    background-color: #000;
    color :#fff;
}

/***** 2번 페이지 *****/
#pg2 .main_back_img {
    background-image: url(../images/main/main2.jpg);
}

.main_txt {
    position: absolute;
    top: 20%;
    left: 5%;
    color: #fff;
}

/***** 3번 페이지 *****/
#pg3 .main_back_img {
    background-image: url(../images/main/main3.jpg);
}


/***** 4번 페이지 *****/
#pg4 .main_back_img {
    background-image: url(../images/main/main4.jpg);
}

/***** 5번 페이지 *****/
#pg5 .main_back_img {
    background-image: url(../images/main/main5.jpg);
}

/* 컨택트 페이지 이동 아이콘 */
.ctmove {
    position: fixed;
    bottom: 2vh;
    right: 2vw;
    width: min(30px, 3vw);
    overflow: hidden;
    transition: width .3s;
}

.ctmove a::after {
    content: 'CONTACT';
    position: absolute;
    /* display: none; */
    margin-left: 1vw;
    width: 0;
    bottom: 5px;
    color: #eee;
    font-size: min(18px, 2vw);
    transition : .5s;
}

.ctmove a {
    display: block;
    font-size: min(30px, 3vw);
    color: #fff;
    transition : color .5s;
}

.ctmove:hover {
    width: 150px;
}

.ctmove:hover a {
    color : var(--scl);
}




