@charset "utf-8";

/* 서브페이지 CSS - room.css */

/* 공통 외부 CSS 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);

.cont {
    margin-top: 140px;
    max-width: 1920px;
    min-height: 1000px;
    padding: 0 50px;
    overflow: hidden;
}

/* 1. 타이틀 부분 */
.tit {
    padding-bottom: 40px;
}
.tit h2 {
    color : #000;
    font-size: min(5vw, 5rem);
    font-family: 'Source Code Pro', monospace;
    overflow: hidden;
}

.tit h2 span {
    display: inline-block;
    transform: translateY(100%);
    opacity: 0;
    transition: .5s cubic-bezier(0.25,1,0.5,1);
}

.tit.on h2 span {
    transform: translateY(0);
    opacity: 1;
}

.tit p {
    color : #555;
    font-size: min(2vw, 1.8rem);
    width: 90vw;
    padding-top: 15px;
    transform: translateY(10%);
    opacity: 0;
    transition: 1s ease-in-out;
}

.tit.on p {
    transform: translateY(0);
    opacity: 1;
}