@charset "utf-8";

/* 서브페이지 CSS */

/* 공통 외부 CSS 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);

.cont {
    width: 90%;
    margin: 0 auto;
}

/* 타이틀 */
.ctit {
    padding: 50px 0 20px;
    text-align: center;
    font-size: 5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

/* lnb */
.lnb {
    padding-bottom: 20px;
}
.lnb ul {
    display: flex;
    justify-content: center;
    gap: 0 3%;
    font-size: 1.4rem;
}

.lnb a {
    color : #777;
    font-family: 'Nunito', sans-serif; 
}

/* 필터 기능 버튼 */
.product_filter {
    display: flex;
    justify-content: center;
    gap : 0 1%;
}

.product_filter button {
    background-color: transparent;
    border : none;
}

.filter_btn button {
    font-size: 2rem;
    
}

/* 필터 옵션 선택창 */
.filter_value button {
    padding: 5px 0;
    text-align: center;
    width: 100px;
    cursor: pointer;
}

.filter_option {
    position: absolute;
    overflow: hidden;
    height: 0;
    width: 100px;
    z-index: 1;
}

.filter_option ul {
    position: absolute;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
    width: 100px;
    border: 1px solid #eee;
}

.filter_option ul li {
    padding: 5px;
    font-size: 1.3rem;
}

.filter_option ul li:hover {
    background-color: var(--pcolor);
}

/* 상품 목록 */
.product_listwrap {
    width: 100%;
    padding: 40px 0;
}
.product_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: min(5vw, 50px);
    grid-row-gap: min(1.5vw, 15px);
}

.product_list>li {
    position: relative;
}

/* 이미지 */
.product_imgbx figure {
    aspect-ratio: 1/1;
}

.product_imgbx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 설명 */
/* 브랜드 */
.product_brand {
    font-size: 1.2rem;
    color : #777;
    padding-bottom: 5px;
}

/* 제품명 */
.product_name {
    font-size: 1.6rem;
    padding-bottom: 20px;
}

/* 가격 */
.product_price {
    color : #c28243;
    font-size: 1.6rem;
    font-weight: bold;
    padding-bottom: 10px;
}

.vol_price {
    display: none;
}

.vol_price1 {
    display: inline;
}

/* 사이즈 선택 */
.product_radiobtn {
    font-size: 1.6rem;
}

.volchk, .volchk em {
    display: inline-block;
    cursor: pointer;
}

.product_radiobtn span+span {
    margin-left: 20px;
}

.volchk em {
    margin-right: 5px;
}

.volchk1 em{
    font-weight: 900;
}

/* 하트 표시 */
.product_like {
    position: absolute;
    top: 0;
    right: 0;
}

.product_like button {
    background-color: transparent;
    font-size: 1.2rem;
    padding: 1rem;
    border: none;
    cursor: pointer;
    color: #bbb;
    border-radius: 50%;
    border: 1px solid #bbb;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.product_list>li:hover .product_like button {
    opacity: 1;
}







