@charset "utf-8";

/* 서브페이지 CSS */

/* 공통 외부 CSS 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);


.ctit_bgibx {
    overflow: hidden;
}

.ctit_bgi {
    width: 100%;
    height: 120px;
}

.ctit_bgi img {
    width: 100%;
    height: 100%;
}

/* 타이틀 */
.ctit {
    padding: 50px 0 20px;
    text-align: center;
    font-size: min(5.2rem, 5vw);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

/* lnb */
.lnb {
    padding-bottom: 20px;
}
.lnb ul {
    display: flex;
    justify-content: center;
    gap: 0 3%;
    font-size: min(1.6rem, 1.6vw);
}

.lnb li:first-child a {
    color : #000;
}

.lnb a {
    position: relative;
    display: inline-block;
    color : #aaa;
    font-family: 'Nunito', sans-serif; 
}

.lnb a::after {
    position: absolute;
    content: '';
    width: 0;
    height: 1px;
    background-color: #000;
    left: 0;
    bottom: 0;
    transition: width .4s;
}

.lnb a:hover::after {
    width: 100%;
}

/* 필터 기능 버튼 */
.product_filter {
    display: flex;
    justify-content: center;
    gap : 0 1%;
}

.product_filter button {
    background-color: transparent;
    border : none;
}

.filter_btn button {
    font-size: min(2rem, 2vw);
    
}

/* 필터 옵션 선택창 */
.filter_value button {
    padding: 5px 0;
    text-align: center;
    width: 100px;
    font-size: min(1.3rem, 1.3vw);
    cursor: pointer;
}

.filter_option {
    position: absolute;
    overflow: hidden;
    height: 0;
    width: 100px;
    z-index: 1;
}

.filter_option ul {
    position: absolute;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
    width: 100px;
    border: 1px solid #eee;
}

.filter_option ul li {
    padding: 5px;
    font-size: min(1.3rem, 1.3vw);
}

.filter_option ul li:hover {
    background-color: var(--pcolor);
}

/* 상품 목록 */
.product_listwrap {
    width: 90%;
    padding: 40px 0;
    margin: 0 auto;
}
.product_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: min(15vw, 150px);
    grid-row-gap: min(1.5vw, 15px);
}

.product_list>li {
    position: relative;
}

/* 이미지 */
.product_imgbx {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}
.product_imgbx figure {
    aspect-ratio: 1/1;
}

.product_imgbx img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

/* 설명 */
/* 브랜드 */
.product_brand {
    font-size: min(1.2vw, 1.2rem);
    color : #777;
    padding-bottom: 5px;
}

/* 제품명 */
.product_name {
    font-size: min(1.6rem, 1.6vw);
    padding-bottom: 20px;
}

/* 가격 */
.product_price {
    color : #c28243;
    font-size: min(1.6rem, 1.6vw);
    font-weight: bold;
    padding-bottom: 10px;
}

.vol_price {
    display: none;
}

.vol_price1 {
    display: inline;
}

/* 사이즈 선택 */
.product_radiobtn {
    font-size: min(1.6rem, 1.4vw);
}

.volchk, .volchk em {
    display: inline-block;
    cursor: pointer;
}

.product_radiobtn span+span {
    margin-left: 20px;
}

.volchk em {
    margin-right: 5px;
}

.volchk1 em{
    font-weight: 900;
}

/* 하트 표시 */
.product_like {
    position: absolute;
    bottom: 0;
    left: 0;
}

.product_like button {
    background-color: transparent;
    font-size: min(1.2rem, 1.2vw);
    padding: 1rem;
    border: none;
    cursor: pointer;
    color: #bbb;
    border-radius: 50%;
    border: 1px solid #bbb;
    opacity: 0;
    transform: translateY(50%);
    transition: all .4s ease-in-out;
}

.product_list>li:hover .product_like button {
    opacity: 1;
    transform: translateY(0);
}

.product_bag {
    opacity: 0;
    margin-top: 20px;
    transition: opacity .4s;
}

.product_list>li:hover .product_bag {
    opacity: 1;
}

.product_bag button {
    position: relative;
    padding : 0;
    font-family: 'Nunito', sans-serif; 
    font-size: min(1.6rem, 1.6vw);
    background-color: transparent;
    border : none;
    cursor: pointer;
}

.product_bag button::after {
    position: absolute;
    content: '';
    width : 100%;
    height: 1px;
    right: 0;
    bottom: 0;
    background-color: #000;
    transition: width .4s;
}
.product_bag button:hover::after {
    width : 0;
}








