@charset "utf-8";

/* 공통 모듈 디자인 CSS */

#top {
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--pcolor);
}

.top {
    position: relative;
    z-index: 999;
    margin: 0 auto;
    width: 90%;
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: space-between;
}

.top_wrap {
    width: 33.33%;
}

.gnb>ul {
    display: flex;
    gap : 0 20px;
}

.gnb>ul>li>a {
    position: relative;
    display: inline-block;
    font-size: min(1.6rem, 1.3vw);
    font-family: 'Nunito', sans-serif; 
    color : #222;
}

.gnb>ul>li>a::after{
    position: absolute;
    content: '';
    height: 1px;
    width: 0;
    background-color: #222;
    bottom: 0;
    left: 0;
    transition: width .4s;
}

.gnb>ul>li>a:hover::after {
    width: 100%;
}

.logo {
    text-align: center;
    width: 100%;
}

.logo a {
    display: inline-block;
    width: 120px;
}

.logo img {
    width: 100%;
}

.icon_menu {
    display: flex;
    justify-content: flex-end;
    gap: 0px 20px;
    font-size: 1.8rem;
}

.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    top: 120px;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    opacity: 0;
    visibility: hidden;
    transition: visibility .4s linear,opacity .4s linear;
}

.overlay.active {
    visibility: visible;
    opacity: 1;
}

.sidebar_menu, .icon_sidebar {
    position: fixed;
    z-index: 999;
    top: 120px;
    width: 35%;
    height: 100vh;
    background-color: var(--pcolor);
    padding: 0 5%;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.sidebar_menu {
    left: -50%;
    font-family: 'Nunito', sans-serif; 
}

.sidebar_menu.show {
    left : 0;
}

.menu_media {
    position: fixed;
    z-index: 999;
    width: 55%;
    top: 120px;
    height: 100vh;
    right: 0;
}
.menu_medialist {
    position: relative;
    /* width: 100%; */
    height: 100vh;
}

.menu_medialist li {
    position: absolute;
    width: 100%;
}

.menu_medialist img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.icon_sidebar {
    right: -50%;
}

.icon_sidebar.show { 
    right : 0;
}

.sub_menu>li {
    font-size: min(1.5rem, 1.2vw);
    padding : 1rem 0;
}

.sub_menu>li>a, .sub_menu>li>h2>span:first-child {
    display: inline-block;
    position: relative;
    color: #222;
}

.sub_menu>li>a::after, .sub_menu>li>h2>span:first-child::after{
    position: absolute;
    content: '';
    width: 0;
    height: 1px;
    background-color: #222;
    bottom: 0;
    left: 0;
    transition: width .4s;
}

.sub_menu>li>a:hover::after, .sub_menu>li>h2>span:first-child:hover::after{
    width: 100%;
}

.sidebar_menu h2 {
    font-size: min(1.5rem, 1.2vw);
    cursor : pointer;
}

.sidebar_menu h2 .fa-solid {
    position: absolute;
    right: 10%;
    transition: transform .3s ease-in-out;
}

.sidebar_menu h2.active .fa-solid {
    transform: rotate(-180deg);
}

.sidebar_submenu.hidden {
    height: 0;
    overflow: hidden;
}

.sidebar_submenu>li {
    padding: 1rem 0 1rem 2rem;
}
.sidebar_submenu>li a {
    position: relative;
    color : #555;
}
.sidebar_submenu>li a::after {
    position: absolute;
    content: '';
    background-color: #555;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    transition: width .4s;
}

.sidebar_submenu>li a:hover::after {
    width: 100%;
}



/* 로그인 폼 */
#login-form {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
}

#login-form input:not([type="submit"]) {
    border: none;
    padding: 15px 0;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    transition: border-color .3s ease-in-out;
}

#login-form input:not([type="submit"]):focus {
    border-color : #555;
}

.login_box h2 {
    padding: 3% 0 10%;
    font-size: 3rem;
}

.login_inputbx {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.login_addbx {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.login_saveid input{
    display: none;
}

.login_saveid input+label {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: -1px;
}

.login_saveid input:checked+label {
    font-weight: 900;
}

.login_findid a{
    text-decoration: underline;
    color : #666;
}

.login_btn {
    border: none;
    font-size: 1.6rem;
    cursor: pointer;
    padding: 20px 0;
    background-color: #000;
    color : #fff;
    margin-bottom: 40px;
}

.sign_up {
    background-color: #fff;
    color : #000;
    border: 1px solid #ddd;;
    transition: all .4s ease-in-out;
}

.sign_up:hover {
    background-color: #000;
    color : #fff;
}

.login_sns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.login_sns li {
    padding: 0 15px;
}

.login_sns img {
    width: 48px;
}

.find_order, .login_btn {
    text-align: center;
}

.find_order {
    text-decoration: underline;
    color : #777;
}

/* 스크롤 진행바 */
.progress-container {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999;
    width: 5px;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
}

.progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 0%;
    width: 100%;
    background-color: var(--pcolor2);
    transition: heigth .4s;
}


/* 메인 */
#cont {
    position: relative;
    min-height: 800px;
    padding-top: 120px;
}


/* 하단 */
#info {
    width: 100%;
    background-color: #f9f9f9;
}
.info {
    width: 90%;
    padding: 50px 0;
    margin: 0 auto;
    position: relative;
    height: 300px;
    box-sizing: border-box;
}

.blogo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);    
    right: 0;
}
.blogo a {
    display: inline-block;
}

.blogo figure {
    display: flex;
    width: 160px;
    height: 160px;
    background-image: url(../images/logo/pg-logo-circle.svg);
    background-position: center center;
    background-size: 160px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    animation: rotateLogoText 20s linear infinite;
}

.blogo img {
    width: 70px;
    animation: rotateReverse 20s linear infinite;
}

@keyframes rotateLogoText {
    0% {
        transform : translate3d(0px,0px,0px) rotate(0deg);
    }
    100% {
        transform : translate3d(0px,0px,0px) rotate(360deg);
    }   
}

@keyframes rotateReverse {
    0% {
        transform : translate3d(0px,0px,0px) rotate(0deg);
    }
    100% {
        transform : translate3d(0px,0px,0px) rotate(-360deg);
    }   
}


.btext {
    padding-bottom: 20px;
}

.btext h2 {
    font-family:'Times New Roman', Times, serif;
    font-size: 2rem;
}

.btext p {
    font-size: 1.4rem;
    padding: 5px 0;
}

.blink_wrap {
    display: flex;
    padding: 10px 0 20px;
    font-size: 1.6rem;
}

.blink {
    margin-right: 30px;   
}

.blink ul {
    display: flex;
    justify-content: space-between;
    gap: 0 30px;
}

.blink_bar{
    width: 1px;
    background-color: #bbb;
    margin-right: 30px;
}

.bsns ul {
    display: flex;
    gap : 0 30px;
}

.bsns img {
    height: 20px;
}

.binfo address {
    font-style : normal;
}

.binfo ul {
    width: 50%;
    font-size: 1.4rem;
}

.binfo li {
    display: inline-block;
}

.binfo li span {
    display: inline-block;
    padding-right: 5px;
    color : #777;
}

.binfo p {
    font-size: 1.4rem;
    color : #777;
    padding-top: 20px;
}

/* 미디어쿼리 */
/* 1600px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 1600px) {

}
/* 1600px 사이즈 이하 미디어쿼리 끝 */
/* 1024px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 1024px) {
    /* 상단영역 */
    .top {
        justify-content: space-evenly;
    }

    .top_wrap {
        width: auto;
    }

    /* 하단영역 */
     .blogo {
        display: none;
     }

     .binfo ul {
        width: 100%;
    }
    
}
/* 1024px 사이즈 이하 미디어쿼리 끝 */
/* 820px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 820px) {
    /* 상단영역 */
    .sidebar_menu, .icon_sidebar {
        width: 90%; 
    }

    .sidebar_menu {
        left : -110%;
    }

    .icon_sidebar{
        right : -110%;
    }

    /* 하단 */

    .info {
        padding : 20px 0;
        height: auto;
    }
    .btext h2 {
        font-size: 1.6rem;
    }

    .btext p {
        font-size: 1.2rem;
    }

    .blink_wrap {
        padding: 5px 0 10px;
        font-size: 1.2rem;
    }

    .blink {
        margin-right: 30px;   
    }

    .blink ul {
        gap: 0 15px;
    }

    .binfo ul {
        font-size: 1.2rem;
    }

    .binfo p {
        font-size: 1rem;
    }
}
/* 820px 사이즈 이하 미디어쿼리 끝 */
/* 520px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 520px) {
    /* 상단 */
    .top {
        width: 100%;
        height: 100px;
        display: block;
    }

    .top_wrap {
        position: absolute;
    }

    .top_wrap1 {
        width: 90%;
        bottom: 0px;
        padding-bottom: 10px;
        background-color: var(--pcolor);
        left: 50%;
        transform: translateX(-50%);
    }

    .gnb>ul {
        justify-content: space-between;
    }

    .logo a {
        width: 70px;
    }
    .top_wrap2 {
        left: 1%;
    }

    .top_wrap3 {
        right: 3%;
        top: 40%;
        transform: translateY(-50%);
    }

    .icon_menu {
        font-size: 1.4rem;
    }

    .sidebar_menu, .icon_sidebar {
        top: 100px;
    }

    /* 메인 */
    #cont {
        padding-top: 100px;
    }
}
/* 520px 사이즈 이하 미디어쿼리 끝 */
