@charset "utf-8";

/* 공통 모듈 디자인 CSS */

#top {
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0;
    left: 0;
}

.top {
    margin: 0 auto;
    width: 90%;
    display: flex;
    height: 140px;
    align-items: center;
    justify-content: space-between;
}

.top_wrap {
    width: 33.33%;
}

.gnb>ul {
    display: flex;
    gap : 0 20px;
}

.gnb>ul>li>a {
    font-size: 1.6rem;
}

.logo {
    text-align: center;
    width: 100%;
}

.logo a {
    display: inline-block;
    width: 140px;
}

.logo img {
    width: 100%;
}

.side_menu {
    display: flex;
    justify-content: flex-end;
    gap: 0px 20px;
}

.side_menu {
    font-size: 2rem;
}