@charset "utf-8";

/* 공통 모듈 디자인 CSS */

#top {
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--pcolor);
}

.top {
    margin: 0 auto;
    width: 90%;
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: space-between;
}

.top_wrap {
    width: 33.33%;
}

.gnb>ul {
    display: flex;
    gap : 0 20px;
}

.gnb>ul>li>a {
    font-size: 1.6rem;
    font-family: 'Nunito', sans-serif; 
    color : #222;
}

.logo {
    text-align: center;
    width: 100%;
}

.logo a {
    display: inline-block;
    width: 120px;
}

.logo img {
    width: 100%;
}

.icon_menu {
    display: flex;
    justify-content: flex-end;
    gap: 0px 20px;
    font-size: 1.8rem;
}

.sidebar_menu, .icon_sidebar {
    position: fixed;
    z-index: 999;
    width: 20%;
    height: 100vh;
    background-color: var(--pcolor);
}

.sidebar_menu {
    padding: 0 5%;
    left: -50%;
    font-family: 'Nunito', sans-serif; 
}

.icon_sidebar{
    right: -50%;
    padding: 0 5%;
}

.sub_menu>li {
    font-size: 1.5rem;
    padding : 1rem 0;
}
.sidebar_menu h2 {
    font-size: 1.5rem;
    position: relative;
    cursor : pointer;
}

.sidebar_menu h2 .fa-solid {
    position: absolute;
    right: 3%;
    transition: transform .3s ease-in-out;
}

.sidebar_menu h2.active .fa-solid {
    transform: rotate(-180deg);
}

.sidebar_submenu.hidden {
    height: 0;
    overflow: hidden;
}

.sidebar_submenu>li {
    padding: 1rem 0 1rem 2rem;
}
.sidebar_submenu>li a{
    color : #555;
}
