@charset "UTF-8";

/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');
@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css');

/* 
    영문폰트
    font-family: 'Nunito', sans-serif; 
    한글폰트
    font-family: 'NanumBarunGothic';
*/
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


:root {
    --pcolor : rgb(246 243 240);
}


/* 배경이미지 설명 넣기 숨기기 클래스
   IR : Image Replacement 이미지 대체텍스트 웹접근성때문에 */
.ir {
display: block;
width: 0;
height: 0;
overflow: hidden;
}