@charset "utf-8";

/* 메인페이지 CSS */

/* 공통 외부 CSS 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);



/* 배너영역 - 스와이퍼 */
.main_banner {
    position: relative;
    padding-top: 120px;
}

.main_banner .swiper {
    width: 100%;
    height: 75vh;
}

.swiper-slide {
    /* text-align: center; */
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img, .swiper-slide a {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next, .swiper-button-prev{
    color : rgba(255,255,255, 0.8);
}

.swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 30%;
    height: var(--swiper-pagination-progressbar-size,4px);
    left: 50%;
    transform: translateX(-50%);
    top: auto;
    bottom: 5%;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: rgba(255,255,255, 0.8);
}

/* best */
.main_best {
    padding-top: 10vh;
}

.main_tit {
    font-size: 6rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 3rem;
}

.main_best_wrap {
    padding-bottom: 15vh;
    height: 70vh;
    display: flex;
}

.main_best_wrap:nth-child(2) {
    flex-direction: row-reverse;
}

.main_best_img figure {
    position: relative;
    width: 55vw;
    height: 100%;
    overflow: hidden;
}

.main_best_img figure img {
    position: absolute;
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    transform: scale(1.2);
}

.main_best_txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap : 5% 0;
    width: 100%;
}

.best_perfume_brand {
    width: 50%;
    margin: 0 auto;
}

.best_perfume_brand img {
    width: 100%;
}

.best_perfume_name {
    font-size: 5rem;
}

.best_perfume_desc {
    font-size: 1.6rem;
    color : #777;
}

.best_perfume_sublink {
    height: 140px;
    position: relative;
}

.best_perfume_sublink a {
    display: inline-block;
    position: relative;
    font-size: 1.4rem;
    margin-top: 120px;
}

.best_perfume_sublink a::before {
    position: absolute;
    content: '';
    top: -120px;
    left: 50%;
    width: 1px;
    height: 120px;
    background-color: #000;
    transition : height .4s, top .4s;
}

.best_perfume_sublink a::after {
    position: absolute;
    content: '';
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    background-color: #000;
    transition : width .6s;
}

.best_perfume_sublink a:hover::before {
    height: 0;
    top: 0;
}

.best_perfume_sublink a:hover::after {
    width: 100%;
}


/* new */
.main_new_cont {
    background-color: rgb(245,245,245);
    padding : 100px 0 50px;
    width: 100%;
    overflow: hidden;

}

.main_new_cont .swiper-wrapper {
    transition-timing-function: ease-in-out;
}

.main_newlist {
    display: flex;
    position: relative;
    left: 0;
}

.main_newlist *{
    user-select: none;
    -webkit-user-drag: none;
}

.new_imgbx figure {
    position: relative;
    aspect-ratio: 465 / 530;
    overflow: hidden;
}

.new_imgbx figure img {
    position: absolute;     
    transition: transform .7s;
}

.new_imgbx figure::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #fff;
    z-index: 1;
    transition: opacity .7s;
}

.new_imgbx figure::after {
    position: absolute;
    content: 'Discover More';
    font-size: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
}

.main_newlist a:hover img {
    transform: scale(1.1);
}

.main_newlist a:hover .new_imgbx figure::before,
.main_newlist a:hover .new_imgbx figure::after {
    opacity: 0.6;
}

.new_txtbx {
    padding-top : 10px;
}

.new_txtbx h4 {
    font-size: 1.4rem;
    color : #555;
    padding-bottom: 10px;
}

.new_txtbx h3 { 
    font-size: 1.6rem;
    font-weight: bold;
}

.new_txtbx p {
    font-size: 1.4rem;
    color : #777;
    padding-top: 10px;
}

/* match */
.main_match { 
    padding: 10vh 0;
}

.match_wheel {
    position: relative;
    height: 30vh;

}
.match_rotate {
    position: relative;
    padding: 2% 10% 0 10%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.match_rotate figure {
    position: absolute;
    width: 80%;
}

.match_rotate .mask {
    z-index: 1;
    transform: translateY(-12%) scale(0.7);
}

.match_rotate img {
    width: 100%;
}

.img_wheel {
    transition: all .6s ease-in-out;
}

.match_btnbx {
    width: 80%;
    position: absolute;
    display: flex;
    left: 50%;
    top: 50%;
    justify-content: space-between;
    transform: translateX(-50%);
}
.match_btn {
    background-color: transparent;
    border: none;
    font-size: 4rem;
    cursor: pointer;
}

.match_perfume ul {
    padding: 2% 20% 0 20%;
    position: relative;
    height: 400px;
}


.perfume_list {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    opacity: 0;
    transition: opacity .6s ease-in-out;
}

.perfume_list.on {
    opacity: 1;
    z-index: 1;
}

.perfume_list>div {
    flex : 1;
}

.perfume_img figure, .perfume_img img {
    height: 100%;
    text-align: center;
}

.perfume_img figure {
    aspect-ratio: 1/1;
}

.perfume_txt ol {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10% 0;
}

.perfume_brand {
    font-size: 2rem;
    color : #777;
    text-align: center;
}

.perfume_name {
    font-size: 3rem;
    text-align: center;
}

.perfume_family {
    font-size: 1.6rem;
    text-align: center;
}

.perfume_link {
    height: 140px;
    position: relative;
}

.perfume_link a {
    display: inline-block;
    position: relative;
    font-size: 1.4rem;
    margin-top: 100px;
}

.perfume_link a::before {
    position: absolute;
    content: '';
    top: -100px;
    left: 50%;
    width: 1px;
    height: 100px;
    background-color: #000;
    transition : height .4s, top .4s;
}

.perfume_link a::after {
    position: absolute;
    content: '';
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    background-color: #000;
    transition : width .6s;
}

.perfume_link a:hover::before {
    height: 0;
    top: 0;
}

.perfume_link a:hover::after {
    width: 100%;
}

