@charset "utf-8";

/* 제품 상세 페이지 CSS */

/* 공통 외부 CSS 합치기 */
@import url(reset.css);
@import url(core.css);
@import url(common.css);

/* 디테일 섹션*/
.product_detail {
    display: flex;
    height: auto;
}

.product_detail>div {
    flex : 1;
}

/* 이미지 박스 - 왼쪽 */
.detail_imgbx {
    position: sticky;
    top: 120px;
    height: 100vh;
}

.detail_imgbx img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
}

/* 설명 박스 - 오른쪽 */
.detail_descbx {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 링크 */
.product_link {
    padding : 30px 0;
}

.product_link a{
    position: absolute;
    font-size: min(3rem, 3vw);
    right: 10px;
}


/*  향수병 이미지 */
.detail_descimg {
    position: relative;
    aspect-ratio: 1/1;
    height: 45vh;
    margin-bottom: 30px;
}

.detail_descimg img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

/* 찜하기 */
.detail_like {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.detail_like button {
    background-color: transparent;
    font-size: min(1.6rem, 1.6vw);
    padding: 1rem;
    border: none;
    cursor: pointer;
    color: #555;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #555;
}

/* 용량선택 */
.detail_radiobtn {
    margin-bottom: 5px;
}

.volchk, .volchk em {
    display: inline-block;
    cursor: pointer;
    font-size: min(1.4rem, 1.4vw);
}

.detail_radiobtn span+span {
    margin-left: 20px;
}

.volchk em {
    margin-right: 5px;
}

.volchk1 em{
    font-weight: 900;
}

/* 브랜드 */
.detail_brand {
    font-size: min(1.6rem, 1.6vw);
    color : #777;
    padding : 15px 0;
}

/* 제품명 */
.detail_name {
    font-size: min(2.4rem, 2.4vw);
    padding-bottom: 15px;
    text-align: center;
}

.detail_name span {
    display: block;
}

.name_eng {
    font-size: min(2rem, 2vw);
    color : #555;
}


/* 가격 */
.detail_price {
    color : #c28243;
    font-size: min(1.8rem, 1.8vw);
    font-weight: bold;
    padding-bottom: 20px;
}

.vol_price {
    display: none;
}

.vol_price1 {
    display: inline;
}

/* 구매버튼박스 */
.detail_shopbtnbx button {
    font-size: min(1.6rem, 1.6vw);
    padding : 10px 30px;
    margin: 0 5px 30px;
    cursor: pointer;
}

.shop_bag {
    border : 1px solid #777;
    background-color: #fff;
}

.shop_buy {
    border : 1px solid #000;
    background-color: #000;
    color : #fff;

}

/* 설명버튼 */
.detail_descbtn button {
    position: relative;
    background-color: transparent;
    border : none;
    cursor : pointer;
    font-size: min(1.6rem, 1.6vw);
    padding: 0;
    margin : 0 10px;
}

.detail_descbtn button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #000;
    right: 0;
    bottom: 0;
    transition: width .4s;
}

.detail_descbtn button:hover::after {
    width: 0;
}
/* 향수 설명박스 */
.detail_desc {
    padding: 100px 0;
}

.desc_wrap {
    width: 100%;
}

.desc_svg, .story_svg {
    margin: 50px 0;
    text-align: center;
}

.svg-fill {
    stroke: none;
}

.svg-right {
    transform : rotate(180deg);
}

.svg-icon {
    display: inline-block;
    width: 14px; 
    height: 10px;
    vertical-align: middle;
}

.desc_wrap p {
    font-size: min(2rem, 2vw);
    text-align: center;
    color : #777;
    font-family: 'SUITE-Regular';
}



/* 프레그런스 노트 섹션 */
.product_fragrance {
    display: flex;
    height: 80vh;
    margin-top: 15vh;
}

.product_fragrance>div {
    flex : 1
}

/* 노트 */
.fragrance_descbx {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.note_wrap {
    padding : 30px 0;
}

.note_imgbx {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
}

.notes_img {
    background-color: #fff;
    box-shadow: 10px 10px 20px #dadada, -10px -10px 20px #fff;
    border-radius: 10px;
    padding : 10px;
    width: 40%;
    margin: 2% 5%;
    box-sizing: border-box;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease-in-out .3s;
}

.note_imgbx.on .notes_img {
    opacity: 1;
}



.notes_img img {
    width: 100%;
}

.notes_img figcaption {
    text-align: center;
    padding-top : 10px;
    font-size: min(1.4rem, 1.4vw);
    color : #aaa;
}

.notes h4, .notes p {
    text-align: center;
}

.notes h4 {
    font-size: min(2.4rem, 2.2vw);
    padding : 20px 0;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.notes p {
    font-size: min(2rem, 2vw);
    font-family: 'SUITE-Regular';
}

.note_desc {
    opacity: 0;
    transition: opacity 1s ease-in-out .5s;
}

.notes.on .note_desc{
    opacity: 1;
}

/* 이미지 */
.fragrance_imgbx {
    overflow: hidden;
}

.fragrance_imgbx img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(30%);
    transition: all 1s ease-in-out;
}

.fragrance_imgbx.on img {
    opacity: 1;
    transform: translateX(0);
}

/* 스토리 섹션 */
.product_story {
    margin: 30px 0;
    padding : 15vh 0;
}

.story_wrap {
    width: 80%;
    margin: 0 auto;
}

.story_p {
    text-align: center;
    font-size: min(2.8rem, 3vw);
    color : #777;
    font-family: 'SUITE-Regular';
}

.story_desc {
    opacity: 0;
    transition: opacity .6s ease-in-out 1s;
}

.story_desc.on {
    opacity: 1;
}

/* 추천 */
.product_recommands {
    margin-bottom: 50px;
}

.recommands_list {
    padding: 30px 0;
    width: 90%;
    margin: 0 auto;
}

.recommands_list ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: min(5vw, 50px);
    grid-row-gap: min(1.5vw, 15px);
}

.recommands_list ul>li {
    position: relative;
    opacity: 0;
    transition: opacity .8s ease-in-out;
}

.recommands_list ul>li.on {
    opacity: 1;
}

/* 이미지 */
.recommands_imgbx {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}
.recommands_imgbx figure {
    aspect-ratio: 1/1;
}

.recommands_imgbx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 설명 */
/* 브랜드 */
.recommands_brand {
    font-size: min(1.2vw, 1.2rem);
    color : #777;
    padding-bottom: 5px;
}

/* 제품명 */
.recommands_name {
    font-size: min(1.6rem, 1.6vw);
    padding-bottom: 20px;
}

/* 가격 */
.recommands_price {
    color : #c28243;
    font-size: min(1.6rem, 1.6vw);
    font-weight: bold;
    padding-bottom: 10px;
}

/* 사이즈 선택 */
.recommands_radiobtn {
    font-size: min(1.6rem, 1.4vw);
}

.recommands_radiobtn span+span {
    margin-left: 20px;
}

/* 하트 표시 */
.recommands_like {
    position: absolute;
    bottom: 0;
    left: 0;
}

.recommands_like button {
    background-color: transparent;
    font-size: min(1.2rem, 1.2vw);
    padding: 1rem;
    border: none;
    cursor: pointer;
    color: #bbb;
    border-radius: 50%;
    border: 1px solid #bbb;
    opacity: 0;
    transform: translateY(50%);
    transition: all .4s ease-in-out;
}

.recommands_list ul>li:hover .recommands_like button {
    opacity: 1;
    transform: translateY(0);
}

.product_title {
    text-align: center;
    font-size: min(3rem, 3vw);
    font-family: 'Nunito', sans-serif; 
    margin-bottom: 20px;
    overflow: hidden;
}

.product_title span {
    position: relative;
    display: inline-block;
    transform: translateY(-100%);
    opacity: 0;
    transition: .5s cubic-bezier(0.25,1,0.5,1);
}

.product_title.on span {
    transform: translateY(0);
    opacity: 1;
}


.product_bag {
    opacity: 0;
    margin-top: 20px;
    transition: opacity .4s;
}

.recommands_list>ul>li:hover .product_bag {
    opacity: 1;
}

.product_bag button {
    position: relative;
    padding : 0;
    font-family: 'Nunito', sans-serif; 
    font-size: min(1.6rem, 1.6vw);
    background-color: transparent;
    border : none;
    cursor: pointer;
}

.product_bag button::after {
    position: absolute;
    content: '';
    width : 100%;
    height: 1px;
    right: 0;
    bottom: 0;
    background-color: #000;
    transition: width .4s;
}
.product_bag button:hover::after {
    width : 0;
}


