@charset "utf-8";

/* 메인페이지 CSS */

/* 공통 외부 CSS 합치기 */
@import url(reset.css);
@import url(core.css);

body {
    background: url(../images/bg.jpg) no-repeat fixed center/cover;
}


.ibx {
    max-width: 1300px;
    margin: 0 auto;
}

#intro {
    position: fixed;
    z-index: 999999;
}

/* 상단 */
#top {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.top { 
    margin: 0 auto;
    padding : 10px 10px 0 10px;
}

.top_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.logo {
    aspect-ratio: 106/55;
    width: min(150px, 20vw);
}
.logo img {
    width: 100%;
    height: 100%;
}

.menu_btn {
    display: none;
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu_btn img{
    width: 100%;
    height: 100%;
}

.gnb {
    /* position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.5); */
}

.gnb ul {
    display: flex;
    gap: 30px
}

/* 모바일
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

*/

.mobile_menulogo{
    display: none;
}

.gnb a {
    /* color :#fff;
    font-size: 4.8rem; */
    display: inline-block;
    font-size: 2rem;
    padding : 10px 25px;
    border-radius: 40px;
    background-color: rgba(255,255,255,0.5);
    transition: all .4s;
}

.gnb a:hover {
    background-color: rgba(255,255,255,1);
}

.menu_exit {
    display: none;
}
/* 메인 */
#cont {
    min-height: 1000px;

}

.cont {
    /* background-color: rgba(255,255,255,0.5); */
    /* background: url(../images/pattern_wood.jpg) repeat center/100%; */
}

.building {
    height: 100vh;
    position: relative;
}

.building_img {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50%;
    right : 0;
    transform: translateY(-50%);    
}

.building:nth-child(even) .building_img{
    left : 0;
}

.building_img img {
    width : 100%;
    height: 100%;
    /* object-fit: cover; */
}

.cookie {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
}

.cookie img {
    width: 100%;
    height: 100%;
}

/* 하단 */
#info {
    background-color: rgb(25, 28, 36);
}
.bsns {
    padding : 30px 0;
}

.bsns ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.bsns a{
    display: inline-block;
    font-size: 10px;
    width: 65px;
    height: 65px;
}

.blink {
    padding : 10px 0;
}

.blink ul{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.blink li {
    border : 1px solid #fff;
    padding : 10px 20px;
}

.blink li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color : #fff;
    font-size: 1.6rem;
}


.binfo {
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 5px 0;
    padding : 10px 0;
}

.binfo p{
    color : #fff;
    font-size: 1.6rem;
}

.bsns svg {
    width: 100%;
    height: 100%;
}

.blogo {
    margin: 0 auto;
    width: 30%;
    padding-top: 10px;
    padding-bottom: 50px;
}

.blogo svg {
    width: 100%;
    height: 100%;
}