@charset "UTF-8";

#character {
    background: url(../../../public/images/back.jpg) no-repeat fixed center/cover;
    min-height: 1200px;
}

.character_bx {
    background-color: rgba(255, 255, 255, 0.9);
}

.cha_wrap { 
    height: calc(100vh + 3000px);
}

.cha_bx {
    position: sticky;
    height: 100vh;
    top: 0;
    left: 0;
}

.cha_btn {
    padding: 100px 0 50px;
}

.cha_btn button {
    background-color: transparent;
    color: #fff;
    border : none;
    border-radius: 25px;
    background-color: var(--tcolor3);
    font-size: min(20px, 1.8vw);
    cursor: pointer;
    padding: 5px 20px;
}

.cha_btn ul {
    display: flex;
    justify-content: center;
    gap: 0 20px;
}

.cha_tit {
    color : var(--tcolor);
    text-align: center;
    font-size: min(60px, 5.8vw);
    padding-top : 100px;
}

.cha_circle {
    position: absolute;
    overflow: hidden;
    width : 40vw;
    height: 100vh;
    left : 0;
}

.cha_circlelist {
    position: absolute;
    border : 2px solid var(--tcolor3);
    border-radius: 50%;
    aspect-ratio: 1/1;
    width : 35vw;
    top: 5%;
    left: calc(-40vw/2);
    transition: transform .5s;
}

.circle_cookie {
    position: absolute;
    transition: .5s;
}

.circle_cookie1 {
    right: -30px;
    top: calc(50% - 30px);
}

.circle_cookie2 {
    right: calc(3% - 30px);
    top : calc(31% - 30px);
}
.circle_cookie3 {
    right: calc(13% - 30px);
    top : calc(15% - 30px);
}
.circle_cookie4 {
    right: calc(28% - 30px);
    top : calc(5% - 30px);
}
.circle_cookie5 {
    right: calc(45% - 30px);
    top : -30px;
}

.circle_img {
    width: var(--iwidth);
    height: var(--iheight);
    background: url(../../../public/images/characters/cat/bg.png) no-repeat center/cover;
}

.circle_img img {
    width: 100%;
    height: 100%;
}

.cha_list {
    position: relative; 
}

.cha_sliderList {
    position: absolute;
    top: 0;
    left: 20%;
    display: flex;
    opacity: 0;
    width: 80%;
    transition: opacity .4s;
}

.cha_sliderList.on {
    opacity: 1;
    z-index: 1;
}

.cha_border {
    position: absolute;
    aspect-ratio: 475 / 755;
    width : min(35vw, 475px);
    left: 10%;
    border-radius: 30px;    
    box-shadow: 1px 1px 15px #ddd;
}

.cha_sliderimg {
    position: absolute;
    aspect-ratio: 877/680;
    width : min(70vw, 877px);
    left: -25%;
    animation: chaMove 2.5s ease-in-out infinite;
}

.cha_sliderimg img {
    height: 100%;
}

@keyframes chaMove {
    0% {
        transform: translateY(1%);
    }
    50% {
        transform: translateY(-1%);
    }
    100% {
        transform: translateY(1%);
    }
}

.cha_sliderdesc {
    color : #000;
    position: absolute;
    width: 30%;
    left: 60%;
}

.cha_sliderdesc h4 {
    font-size: min(20px, 2.2vw);
    padding: 10px 0;
}

.cha_sliderdesc h3 {
    font-size: min(40px, 3.8vw);
    padding-bottom: 10px;
}

.cha_sliderdesc button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: min(20px, 1.8vw);
}

.cha_sliderdesc p {
    color : #333;
    font-size: min(16px, 1.6vw);
    padding-top: 10px;
}