@charset "UTF-8";

@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --tcolor : #FF5F00;
    --tcolor3 : #FF8200;
    --bcolor : #594D46;
    --ccolor : #dbbf91;
    --tcolor2 : #FFF3CD;
    --pcolor : rgb(196, 168, 147);
    --iwidth : 60px;
    --iheigth : 60px;
}

body *{
    font-family: 'CookieRun-Regular';
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}