@charset "UTF-8";
.features_header {
    position: relative;
    /* height: calc(100vh + 7000px); */
    height: 550vh;
}

.features_titbx {
    position: sticky;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow: hidden;
}

.features_splitwrap {
    position: absolute;
    background-color: #000;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0%;
    z-index: 1;
    transform: translateY(-50%);
}

.features_splitwrap2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.features_split {
    position: absolute;
    font-size: min(17vw, 200px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.features_cont {
    position: absolute;
    top: 100vh;
    width: 100%;
    height: auto;
    background-color: #000;
    color : #fff;
    overflow: hidden;
}

.features_cont>div {
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
    height: 100vh;
    box-sizing: border-box;
}

.features_tit {
    font-size: min(26px, 2.8vw);
    padding : 10px 0;
}

.features_desc {
    font-size: min(14px, 1.6vw);
    line-height: 2;
}

.features_vidbx {
    position: relative;
    width: 100%;
    aspect-ratio: 700/350;
    margin-top: 20px;
}

.features_vidbx img, .features_vidbx video {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.features_video { 
    opacity: 0;
}

.features_video.on {
    opacity: 1;
}

.features_action {
    opacity: 0;
    transform: translateY(90px);
    transition: transform 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) .3s,opacity 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) .3s;
}

.features_action.on {
    opacity: 1;
    transform: translateY(0);
}

