@charset "utf-8";
/* 레이아웃 CSS */

@import url(reset.css);
@import url(core.css);


.ibx {
    max-width: 1300px;
    margin: 0 auto;
}

/* 상단 */
#top {
    position: fixed;
    width: 100%;
    z-index: 9;
}

.top { 
    position: relative;
    margin: 0 auto;
    padding : 10px 10px 0 10px;
    box-sizing: border-box;
}

.top_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.logo {
    aspect-ratio: 106/55;
    width: min(150px, 20vw);
}
.logo img {
    width: 100%;
    height: 100%;
}

.menu_btn {
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu_btn img{
    width: 100%;
    height: 100%;
}
.gnb_wrap {
    height: 0;
    overflow: hidden;
}

.gnb_list {
    position: absolute;
    right: 0;
    top: 80px;
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.mobile_menulogo{
    display: none;
}

.gnb a {
    display: inline-block;
    font-size: min(20px, 1.8vw);
    padding : 10px 25px;
    border-radius: 40px;
    background-color: rgba(255,255,255,0.5);
    transition: all .4s;
}

.gnb a:hover {
    background-color: rgba(255,255,255,1);
}

.menu_exit {
    display: none;
}
/* 메인 */
#cont {
    min-height: 1000px;

}

/* 하단 */
#info {
    background-color: rgb(25, 28, 36);
}
.bsns {
    padding : 30px 0;
}

.bsns ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.bsns a{
    display: inline-block;
    font-size: 10px;
    width: 65px;
    height: 65px;
}

.blink {
    padding : 10px 0;
}

.blink ul{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.blink li {
    border : 1px solid #fff;
    padding : 10px 20px;
}

.blink li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color : #fff;
    font-size: 1.6rem;
}

.binfo {
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 5px 0;
    padding : 10px 0;
}

.binfo p{
    color : #fff;
    font-size: 1.6rem;
}

.bsns svg {
    width: 100%;
    height: 100%;
}

.blogo {
    margin: 0 auto;
    width: 30%;
    padding-top: 10px;
    padding-bottom: 50px;
}

.blogo svg {
    width: 100%;
    height: 100%;
}