@charset "utf-8";

.loading {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 99999;
    background: url(../../../public/images/loading_bg.webp) no-repeat center/cover;
}

.loading_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.loading_img figcaption {
    font-size: 4vw;
    color : #fff;
    text-shadow:
        0 0 .1em #000,
        0 0 .1em #000,
        0 0 .1em #000,
        0 0 .1em #000,
        0 0 .1em #000,
        0 0 .1em #000,
        0 0 .1em #000,
        0 0 .1em #000,
        0 0 .1em #000,
        0 0 .1em #000,
        0 0 .1em #000,
        0 0 .1em #000,
        0 0 .1em #000,
        0 0 .1em #000,
        0 0 .1em #000,
        0 0 .1em #000,
        0 0 .1em #000,
        0 0 .1em #000,
        /* Long Shadow */
        0 .01em .1em #000,
        0 .1em .1em #000,
        0 .1em .1em #000,
        0 .1em .1em #000,
        0 .1em .1em #000;
}