@charset "UTF-8";

.game_overview {
    padding : 90px 0;
}

.overview_wrap {
    display: flex;
    justify-content: center;
    padding-bottom: 90px;
}

.overview_img {
    aspect-ratio: 1/1;
    width: 20%;
    margin-right: 30px;
}

.overview_img img {
    width: 100%;
    border-radius: 20px;
}

.overview_desc h2 {
    font-size: min(48px, 3.8vw);
    color : var(--tcolor);
    padding-bottom: 10px;
}

.overview_desc h3 {
    font-size: min(24px, 2.2vw);
    color : var(--tcolor);
    padding-bottom: 10px;
}

.overview_desc p {
    color : #333;
    font-size: min(16px, 1.4vw);
}

.store_list {
    display: flex;
    justify-content: space-evenly;
    gap: 0 1%;
    margin-top: 40px;
}

.store_list a {
    display: inline-block;
    background-color: #000;
    color : #fff;
    white-space: nowrap;
    padding : 5px 10px;
    border-radius: 20px;
    font-size: min(12px, 1.2vw);
}

.store_list img {
    aspect-ratio: 1 / 1;
    width: min(17px, 1.6vw);
    margin-right: 5px;
}

.overview2 {
    padding-top: 40px;
    margin-bottom: 100px;
}

.crown_img {
    width: 20%;
    margin : 0 auto;
    padding-bottom: 40px;
}

.crown_img img{
    width: 100%;
}

.overview2_desc {
    margin-bottom: 20px;
}

.overview2_desc p {
    text-align: center;
    font-size: min(30px, 2.8vw);
}

.overview2_desc2 {
    margin-bottom: 30px;
}

.overview2_desc2 p {
    text-align: center;
    font-size: min(16px, 1.8vw);
    color : #333;
}

.overview2_img {
    width: 80%;
    margin: 0 auto;
}

.overview2_img img {
    width: 100%;
    border-radius: 20px;
}

.overview_action {
    opacity: 0;
    transform: translateY(90px);
    transition: transform 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) .3s,opacity 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) .3s;
}

.overview_action.on {
    opacity: 1;
    transform: translateY(0);
}

/* 1024px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 1024px) {
    .store_list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .store_list>li {
        width: 48%;
        padding-bottom: 5px;
        text-align: center;
    }    

    .overview_wrap {
        justify-content: space-between;
    }

    .overview_img {
        width: 35%;
        margin-right: 10px;
    }
}

/* 600px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 600px) {
    .overview_wrap {
        padding-bottom: 20px;
    }

    .overview2 {
        margin-bottom: 20px;
    }

    .features_header {
        height: 400vh;
    }

    .features_cont>div {
        height: 60vh;
    }
}