@charset "UTF-8";

.story_cont { 
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../../../public/images/story/gameStoryBackground.webp) center/cover;
}

.story_desc {
    color : var(--pcolor);
    text-align: center;
    padding-top: 200px;
    font-size: 16px;
}

.story_desc p {
    margin-bottom: 25px;
    line-height: 2;
}

.cloud_img {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.story_header {
    position: relative;
    height: 100px;
}

.story_split {
    position: absolute;
    font-size: 6rem;
    left: 50%;
    transform: translateX(-50%);
}

#backCloud {
    z-index: 0;
}
#backCloud img {
    height: 420px;
}

#frontCloud {
    z-index: 2;
}

#frontCloud img {
    height: 342px;
}

.cloud_img img{
    width: 100%;
}

.story_img {
    position: absolute;
    width: 1000px;
    height: 700px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.story_img figure {
    position: absolute;
    bottom: 0;
    z-index: 1;
}

#vanilla_img {
    left: 50%;
    bottom: 3%;
    transform: translateX(-50%);
    z-index: 2;
}

#hollyberry_img {
    right : 105px;
    bottom: 10%;
}

#cacao_img {
    left: 155px;
    bottom: 10%;
}

#lily_img {
    left: -30px;
    bottom: 15%;
    z-index: 0;
}

#cheese_img {
    top: 0;
    right: -120px;
}

